body {
  background: #e5e5e5;
}

h1 {
  position: absolute;
  width: 512px;
  height: 85px;
  left: 464px;
  top: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 73px;
  text-align: center;
}

.searchBar {
  position: absolute;
  width: 1240px;
  height: 60px;
  left: 70px;
  top: 292px;

  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
}

.productCard {
  position: absolute;
  width: 1240px;
  height: 500px;
  left: 100px;
  top: 392px;

  background: #f4f4f4;
  border-radius: 15px;
}
